/*________________________________________________________*\
index.css
- Reset / Normalizar
- variables
- Global
- Header
- Main
- Section
- Footer
\*_________________________________________________________*/

*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    display: block;
    color: inherit;
    text-decoration: none;
}
p a{
    display: inline;
}
img , svg {
    display: block;
    width: 100%;
    height: inherit;
}
svg{
    fill: currentColor;
}
:root{
    font-size: 100%;
    scroll-behavior: smooth;

/*_____Proyectos______*/  
    --c-PROYECTOS-POST: black;      /* Color de la tipografía del titular y los enlaces */
/*_____Tipografias______*/ 
    --f-TITULAR-POST: 'Fautive';      /* Tipografía del titular y los enlaces */
/*____Tamaños________*/
    --f-SIZETITULAR-POST: 5em;        /* Tamaño de la tipografia del titular y los enlaces */
}
body{
    font-family: Arial, Helvetica, sans-serif;
    hyphens: auto;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-size: inherit;
    font-weight: inherit;
}

/*_____________ Cabecera ________________*/
/*  Descripción: Estilos para la cabecera de la web*/
/* Estructura: */
/*      - Cabecera-enlaces
        - Cabecera-img
*/

.header{
    width: 100%;
    min-height: 630px;
  /*  background-color: rgb(221, 221, 128);*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.header__cabecera{
    width: 250%;
    min-height: 630px;
   /* background-color: whitesmoke;*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
}
.header__servicios{
    width: 11%;
    min-height: 150px;
  /*  background-color: rgb(148, 18, 148);*/

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 10rem;
    left: 10rem;

    animation: header__servicios 2s ease both;
}
@keyframes header__servicios{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}
.header__quienSoy{
    width: 15%;
    min-height: 200px;
   /* background-color: rgb(21, 159, 233);*/

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 9rem;
    right: 15rem;

    animation: header__quienSoy 2s ease both;
}
@keyframes header__quienSoy{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}
.header__proceso{
    width: 15%;
    min-height: 150px;
  /*  background-color: rgb(18, 139, 82);*/

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 15rem;

    animation: header__proceso 2s ease both;
}
@keyframes header__proceso{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}
.header__proyectos{
    width: 15%;
    min-height: 100px;
   /* background-color: rgb(244, 135, 52);*/

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 9rem;

    animation: header__proyectos 2s ease both;
}
@keyframes header__proyectos{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}
.header__agenda{
    width: 15%;
    min-height: 150px;
 /*   background-color: rgb(251, 255, 0);*/

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 5rem;

    animation: header__agenda 2s ease both;
}
@keyframes header__agenda{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}
.header__aServicios{
    width: 120%;
    min-height: 150px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: end;

    position: relative;
    bottom: 8rem;
    
    font-family: var(--f-TITULAR-POST);             /* Tipografía del titular y los enlaces */
    font-size: 1.2rem;
    font-weight: bold;
}
.header__aQuienSoy{
    width: 100%;
    min-height: 200px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: end;

    position: relative;
    bottom: 12rem;
    
    font-family: var(--f-TITULAR-POST);             /* Tipografía del titular y los enlaces */
    font-size: 1.2rem;
    font-weight: bold;
}
.header__aProceso{
    width: 130%;
    min-height: 130px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: end;

    position: relative;
    bottom: 7rem;
    
    font-family: var(--f-TITULAR-POST);         /* Tipografía del titular y los enlaces */
    font-size: 1.2rem;
    font-weight: bold;
}
.header__aProyectos{
    width: 100%;
    min-height: 200px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 5rem;
    
    font-family: var(--f-TITULAR-POST);         /* Tipografía del titular y los enlaces */
    font-size: 1.2rem;
    font-weight: bold;
}
.header__aAgenda{
    width: 100%;
    min-height: 180px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: end;

    position: relative;
    bottom: 9rem;
    
    font-family: var(--f-TITULAR-POST);         /* Tipografía del titular y los enlaces */
    font-size: 1.2rem;
    font-weight: bold;
}
@font-face {
    font-family: 'Fautive';
    src: url('./tipografias/FautiveBlack.otf') format('.otf');
}
.logo{
    width: 25%;
    min-height: 250px;
 /*  background-color: rgb(40, 176, 217);*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
}

/*_____________ Galería ________________*/
/*  Descripción: Estilos para la galería de imágenes de la web*/
/* Estructura: */
/*      - Galería-img
/*      - Galeria-texto */

.section{
    width: 100%;
    min-height: 100px;
   /* background-color: azure;*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.section__general{
    width: 100%;
    min-height: 100px;
  /*  background-color: bisque;*/

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.section__h2{
    display: none;
}
.section__botones{
    width: 100%;
    min-height: 100px;
  /*  background-color: chartreuse;*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}
.section__aPackaging{
    width: 10%;
    min-height: 40px;
 /*   background-color: antiquewhite;*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.section__adiseño{
    width: 10%;
    min-height: 40px;
 /*   background-color: antiquewhite;*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.section__amaqueta{
    width: 10%;
    min-height: 40px;
 /*   background-color: antiquewhite;*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.diseños{
    width: 100%;
    min-height: 700px;
  /*  background-color: aquamarine;*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.proyectos{
    width: 90%;
    margin: auto;
  /*  background-color: red;*/
}
.proyectos__li{
   /* background-color: lime;*/
    border-top: 1px solid var(--c-PROYECTOS-POST);          /* Color de la tipografía del titular y los enlaces */
    padding: 1rem 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-family: var(--f-TITULAR-POST);                 /* Tipografía del titular y los enlaces */
    font-size: var(--f-SIZETITULAR-POST);               /* Tamaño de la tipografia del titular y los enlaces */
    font-weight: bold;
    text-transform: capitalize;
}
@font-face {
    font-family: 'Fautive';
    src: url('./tipografias/FautiveBlack.otf') format('.otf');
}
.diseños__proyectos{
    display: none;
}
.tooltip{
    width: 268px;
    min-height: 168px;
  /*  background-color: lime;*/

    position: fixed;

    top: -84px;
    left: -134px;

    opacity: 0;

    pointer-events: none;
    transition: opacity .5s ease;
}
.tooltip.isVisible{
    opacity: 1;
}
.tooltip__img{
  /*  background-color: chocolate;*/
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    transition: all .5s ease;
}
.tooltip__img.isVisible{
    opacity: 1;
}

/*_____________ Pie de página - Footer ________________*/
/*  Descripción: Estilos para el pie de página*/
/* Estructura: */
/*      - Footer-img
/*      - Footer-enlaces */

.footer{
    width: 100%;
    min-height: 400px;
  /*  background-color: coral;*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    border-top: 0.1rem solid var(--c-PROYECTOS-POST);               /* Color de la tipografía del titular y los enlaces */
}
.footer__fondo{
    width: 90%;
    min-height: 400px;
    background-color: white;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.enlaces{
    width: 40%;
    min-height: 200px;
  /*  background-color: deepskyblue;*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    border: none;
}
.nav{
    width: 60%;
    min-height: 100px;
   /* background-color: darkseagreen;*/

    margin: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.nav__ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: 3rem;
}
.nav__li{
    display: none;
}
.nav__a{
    width: 20%;
    min-height: 40px;
}
.enlaces__redes{
    width: 15%;
    min-height: 30px;
  /*  background-color: darkseagreen;*/

    margin: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*_____________ @media ________________*/
/*  Descripción: Estilos para la visualización de la web en diferentes dispositivos.
Movil, tablet, ordenadores en pantalla grande */

@media (max-width:1280px){
    .proyectos{
        width: 80%;
    }
    .nav{
        width: 100%;
        text-transform: capitalize;
    }
    .enlaces__redes{
        width: 20%;
    }
}
@media (max-width:1136px){
    .enlaces__redes{
        width: 20%;
    }
    .nav{
        width: 100%;
        text-transform: capitalize;
    }
}
@media (max-width:1024px){
    .header__quienSoy{
        right: 8rem;
    }
    .nav{
        text-transform: capitalize;
        justify-content: space-between;
    }
    .enlaces__redes{
        width: 22%;
    }
}
@media (max-width:900px){
    .section__botones{
        font-size: 1.5em;
    }
    .section__aPackaging{
        font-size: 0.8em;
    }
    .nav{
        font-weight: bold;
        font-size: 1.5em;
    }
}
@media (max-width:960px){
    .proyectos__li--identidad{
        font-size: 4.5em;
    }
    .nav{
        text-transform: capitalize;
        justify-content: space-between;
    }
    .enlaces__redes{
        width: 25%;
    }
}
@media (max-width:896px){
    .nav{
        text-transform: capitalize;
        justify-content: space-between;
    }
}
@media (max-width:876px){
    .section__botones{
        font-size: 1em;
        text-align: center;
    }
    .section__aPackaging{
        font-size: 1.1em;
    }

}
@media (max-width:853px){
    .section__botones{
        width: 80%;
    }
    .section__aPackaging{
        width: 50%;
    }
    .section__aDiseno{
        width: 50%;
    }
    .section__aMaqueta{
        width: 50%;
    }
}
@media (max-width:852px){
    .section__botones{
        width: 40%;
    }
    .section__aPackaging{
        width: 50%;
    }
    .section__aDiseno{
        width: 50%;
    }
    .section__aMaqueta{
        width: 50%;
    }
}
@media (max-width:824px){
    .proyectos__li--identidad{
        font-size: 4em;
    }
    .section__botones{
        width: 40%;
        font-size: 1em;
    }
}
@media (max-width:820px){
    .logo{
        width: 30%;
    }
    .section__botones{
        width: 40%;
    }
    .proyectos{
        width: 90%;
    }
    .proyectos__li--identidad{
        font-size: 4em;
    }
    .enlaces__redes{
        width: 25%;
    }
    .nav{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
}
@media (max-width:800px){
    .section__botones{
        width: 45%;
        font-size: 1em;
    }
    .nav{
        display: flex;
        flex-flow: row nowrap;
    }
}
@media (max-width:789px){
    .section__botones{
        width: 50%;
        font-size: 1em;
    }
}
@media (max-width:732px){
    .section__botones{
        width: 45%;
        font-size: 1em;
    }
}
@media (max-width:720px){
    .section__botones{
        width: 50%;
        font-size: 0.9em;
    }
    .nav{
        display: flex;
        flex-flow: row nowrap;
    }
}
@media (max-width:712px){
    .section__botones{
        width: 50%;
        font-size: 1em;
    }
    .nav{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        font-size: 1em;
    }
}
@media (max-width:700px){
    .section__botones{
        width: 50%;
        font-size: 1em;
    }
}
@media (max-width:669px){
    .header__servicios{
        width: 15%;
        left: 4em;
    }
    .logo{
        width: 40%;
    }
    .proyectos__a{
        font-size: 0.9em;
    }
    .proyectos__li--heladeria{
        font-size: 4.5em;
    }
    .nav{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
}
@media (max-width:640px){
    .header__quienSoy{
        width: 20%;
    }
    .nav{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
}
@media (max-width:636px){
    .enlaces__redes{
        width: 40%;
    }
}
@media (max-width:632px){
     .section__botones{
        width: 55%;
     }
}
@media (max-width:600px){
    .proyectos{
        font-size: 0.8em;
        width: 80%;
        height: 600px;
    }
    .section__botones{
        width: 55%;
    }
    .enlaces__redes{
        width: 35%;
    }
    .nav{
        display: flex;
        flex-flow: row nowrap;
        font-size: 1em;
    }
}
@media (max-width:581px){
    .section__botones{
        font-size: 0.9em;
    }
}
@media (max-width:576px){
    .section__botones{
        width: 60%;
        font-size: 1em;
        gap: 0.5rem;
    }
}
@media (max-width:540px){
    .header__servicios{
        bottom: 8rem;
    }
    .header__quienSoy{
        right: 6rem;
    }
    .section__aPackaging{
        font-size: 1em;
    }
    .proyectos{
        width: 80%;
        height: 600px;
    }
    .proyectos__li--heladeria{
        font-size: 4.5em;
    }
    .enlaces{
        width: 50%;
    }
    .nav{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
    .enlaces__redes{
        width: 35%;
    }
}
@media (max-width:528px){
    .proyectos__li--identidad{
        font-size: 3.9em;
    }
}
@media (max-width:525px){
    .header__proyectos{
        width: 15%;
    }
}
@media (max-width:524px){
    .header__proyectos{
        width: 20%;
    }
}
@media (max-width:515px){
    .proyectos__li--identidad{
        font-size: 3.8em;
    }
}
@media (max-width:510px){
    .proyectos__li--floristeria{
        font-size: 4.5em;
    }
}
@media (max-width:502px){
    .proyectos__li--identidad{
        font-size: 3.7em;
    }
}
@media (max-width:500px){
    .header__aServicios{
        font-size: 1em;
    }
    .header__aQuienSoy{
        font-size: 1em;
    }
    .header__aProceso{
        font-size: 1em;
    }
    .header__aProyectos{
        font-size: 1em;
    }
    .header__aAgenda{
        font-size: 1em;
    }
    .section__botones{
        width: 70%;
        justify-content: space-between;
    }
    .proyectos{
        font-size: 0.7em;
        width: 80%;
        height: 600px;
    }
    .enlaces{
        width: 60%;
    }
    .nav{
        width: 100%;
        text-align: center;
        gap: 0.5rem;
        font-size: 0.8em;
        font-weight: bold;
    }
}
@media (max-width:480px){
    .section__botones{
        width: 60%;
    }
    .proyectos{
        width: 80%;
        height: 600px;
    }
    .nav{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
    .enlaces__redes{
        width: 40%;
    }
}
@media (max-width:460px){
    .proyectos__li--identidad{
        font-size: 3.8em;
    }
    .nav{
        display: flex;
        flex-flow: row nowrap;
    }
}
@media (max-width:439px){
    .proyectos__li--identidad{
        font-size: 3.7em;
    }
    .nav{
        justify-content: center;
    }
}
@media (max-width:432px){
    .header__proyectos{
        width: 20%;
    }
    .header__servicios{
        width: 20%;
    }
    .header__proceso{
        width: 20%;
        left: 5rem;
    }
    .header__quienSoy{
        right: 2rem;
        top: 12rem;
    }
    .logo{
        width: 50%;
        top: 9rem;
    }
    .proyectos__a{
        font-size: 0.8em;
    }
    .nav{
        width: 100%;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .nav__a{
        font-size: 0.9em;
    }
    .enlaces__redes{
        width: 50%;
    }
}
@media (max-width:430px){
    .header__servicios{
        width: 20%;
    }
    .header__proyectos{
        width: 25%;
    }
    .header__quienSoy{
        right: 2rem;
    }
    .header__proceso{
        width: 20%;
    }
    .header__agenda{
        width: 20%;
        top: 8rem;
        right: 4rem;
    }
    .logo{
        width: 50%;
        top: 8rem;
    }
    .section__botones{
        width: 80%;
    }
    .proyectos{
        font-size: 0.5em;
        width: 80%;
        height: 600px;
    }
    .enlaces__redes{
        width: 50%;
    }
}
@media (max-width:416px){
    .header__quienSoy{
        width: 30%;
    }
    .enlaces{
        width: 60%;
    }
}
@media (max-width:415px){
    .section__general{
        width: 100%;
    }
    .section__botones{
        width: 100%;
        font-size: 1em;
        gap: 0.8rem;
    }
}
@media (max-width:414px){
    .section__botones{
        width: 70%;
    }
}
@media (max-width:400px){
    .section__botones{
        width: 80%;
    }
    .proyectos{
        width: 80%;
        height: 600px;
    }
    .nav{
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
        font-size: 0.8em;
    }
}
@media (max-width:395px){
    .nav{
        display: flex;
        flex-flow: row nowrap;
        padding: 1rem;
    }
    .nav__a{
        font-size: 0.8em;
    }
}
@media (max-width:384px){
    .header__servicios{
        width: 25%;
    }
    .proyectos{
        width: 80%;
        height: 600px;
    }
    .nav{
        display: flex;
        flex-flow: row nowrap;
        padding: 0.5rem;
    }
}
@media (max-width:376px){
    .section__botones{
        width: 100%;
        font-size: 1em;
        padding: 2rem;
    }
    .proyectos{
        width: 80%;
    }
}
@media (max-width:360px){
    .header__servicios{
        width: 50%
    }
    .header__proyectos{
        width: 50%;
    }
    .header__quienSoy{
        width: 60%;
    }
    .header__proceso{
        width: 50%;
    }
    .section__botones{
        width: 100%;
        font-size: 0.9em;
    }
    .proyectos{
        width: 80%;
        height: 600px;
    }
    .nav{
        font-size: 0.8em;
        padding-right: 4rem;
    }
}
@media (max-width:354px){
    .section__botones{
        width: 80%;
        font-size: 0.7em;
        font-weight: bold;
        text-transform: capitalize;
    }
    .section__aPackaging{
        width: 100%;
    }
    .section__aDiseno{
        width: 70%;
    }
    .section__aMaqueta{
        width: 33%;
    }
    .proyectos{
        width: 80%;
        height: 600px;
    }
    .nav{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
        font-size: 0.8em;
        gap: 2rem;
    }
    .nav__ul{
        width: 100%;
    }
}
@media (max-width:344px){
    .header__cabecera{
        font-size: 0.9em;
    }
    .header__servicios{
        width: 80%;
    }
    .header__quienSoy{
        width: 100%;
    }
    .header__proceso{
        width: 80%;
    }
    .header__proyectos{
        width: 90%;
    }
    .proyectos{
        width: 80%;
        height: 600px;
    }
    .nav{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        gap: 1.5rem;
        font-size: 0.9rem;
    }
    .enlaces__redes{
        width: 50%;
    }
}
@media (max-width:320px){
    .proyectos__li--identidad{
        font-size: 3.8em;
    }
    .enlaces__redes{
        width: 55%;
    }
    .section__botones{
        width: 100%;
    }
    .section__aPackaging{
        font-size: 1em;
    }
    .nav{
        font-size: 0.7em;
    }
}
@media (max-width:300px){
    .header__cabecera{
        font-size: 0.8em;
    }
    .proyectos{
        width: 80%;
        height: 600px;
        font-size: 0.4em;
    }
    .section__botones{
        width: 100%;
    }
    .nav{
        margin: 0.5rem;
    }
    .nav__a{
        font-size: 0.7em;
    }
    .enlaces__redes{
        width: 60%;
    }
}
@media (max-width:279px){
    .logo{
        width: 70%;
    }
    .header__quienSoy{
        width: 100%;
        font-size: 0.9em;
    }
    .enlaces{
        width: 80%;
    }
    .nav{
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
        font-size: 0.8em;
    }
}
@media (max-width:272px){
    .section__botones{
        gap: 1rem;
    }
    .proyectos{
        width: 80%;
        height: 700px;
        font-size: 0.4em;
    }
    .nav{
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
        font-size: 0.8em;
    }
}
@media (max-width:260px){
    .section__botones{
        font-size: 0.5em;
    }
    .footer{
        width: 100%;
    }
    .nav{
        width: 85%;
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
    }
}
@media (max-width:256px){
    .header__servicios{
        width: 85%;
    }
    .header__proyectos{
        width: 100%;
    }
}
@media (max-width:252px){
    .header__servicios{
        width: 100%;
    }
    .header__proyectos{
        width: 100%;
    }
}
@media (max-width:249px){
    .header__proyectos{
        width: 110%;
    }
    .header__proceso{
        width: 100%;
    }
}
@media (max-width:244px){
    .header__servicios{
        width: 110%;
    }
    .header__proyectos{
        width: 120%;
    }
}
@media (max-width:240px){
    .header__servicios{
        width: 100%;
    }
    .header__proyectos{
        width: 100%;
    }
    .header__aProyectos{
        font-size: 0.9em;
    }
    .header__proceso{
        width: 100%;
    }
    .enlaces__redes{
        width: 70%;
    }
}
@media (max-width:236px){
    .header__proyectos{
        width: 110%;
    }
    .header__servicios{
        width: 120%;
    }
}
@media (max-width:230px){
    .header__proyectos{
        width: 120%;
    }
}
@media (max-width:228px){
    .header__proceso{
        width: 120%;
    }
}
@media (max-width:226px){
    .header__servicios{
        width: 130%;
    }
    .header__proyectos{
        width: 130%;
    }
}
@media (max-width:224px){
    .header__servicios{
        width: 130%;
    }
    .header__proyectos{
        width: 130%;
    }
}
@media (max-width:223px){
    .proyectos__li--identidad{
        font-size: 3.7em;
    }
}
@media (max-width:216px){
    .header__servicios{
        width: 135%;
    }
    .header__proyectos{
        width: 140%;
    }
    .proyectos__li--identidad{
        font-size: 3.6em;
    }
    .proyectos__li--heladeria{
        font-size: 4.3em;
    }
    .proyectos__li--libreria{
        font-size: 4.8em;
    }
}

